.ax_default {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
._图像 {
}
._标题_1 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._标题_2 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._标题_3 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._标题_4 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._标题_5 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._标题_6 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本 {
  text-align:left;
}
._文本链接 {
  color:#0000FF;
}
._鼠标悬停文本链接 {
}
._鼠标按下文本链接 {
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
._流程形状 {
}
._连接符 {
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#D9001B;
}
.sticky_1 {
  text-align:left;
}
.box_1 {
}
.box_2 {
}
.label {
  font-size:14px;
  text-align:left;
}
.ellipse {
}
.placeholder {
}
.table_cell {
}
.form_disabled {
}
._形状 {
}
.line {
}
.radio_button {
  text-align:left;
}
.flow_shape {
}
textarea, select, input, button { outline: none; }
